.body {
  display: flex;
  flex-direction: column;
  min-width: 375px;
}

header {
  flex: 0 80px;
  color: #1f9ed8;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.navbar-logo {
  width: 120px;
  height: 120px;
  vertical-align: middle;
  margin-right: 0.5em;
}


main {
  flex: 1 calc(100vh - 110px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

footer {
  flex: 0 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

menu {
  flex: 1;
  display: flex;
  flex-direction: row !important;
  list-style: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.navbar-brand {
  padding-left: 0.3em;
  border-bottom: solid rgb(182, 182, 182) thin;
}

menu .nav-item {
  padding: 0 0.3em;
}

.footer-button {
  width: 100px;
  padding: 15px 20px;
  margin: 1%;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
}

footer a {
  float: right;
}

.tabs {
  display: flex;
  justify-content: center;
  background-color: #1f9ed8;
  padding: 10px; 
  border-bottom: 2px solid #ddd
}

.tab {
  text-decoration: none;
  color: #333;
  padding: 10px 20px;
  margin: 0 5px;
  border: 1px solid transparent;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.tab:hover{
  background-color: #ddd;
  border-color: #bbb;
}

.tab:active {
  background-color: #bbb;
  color: white;
}

.logincontainer {
  background: #ffffff;
  padding: 20px 60px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.logininput {
  width: 90%;
  padding: 15px 20px;
  margin: 1%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}


.site-button {
  width: 100%;
  padding: 15px 20px;
  margin: 1%;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


@media (max-height: 600px) {
  .container {
    flex-direction: column;
    font-size: 1rem;
  }
  header {
    display: none;
  }
  footer {
    display: none;
  }
  main {
    flex: 1 100vh;
  }
}
